<Doctype html xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>User</title>
</head>

<body>

  <h1>SignUp</h1>
    <form th:action="@{/users/create}" method="post" th:object="${user}">
     <label>firstName</label><label>
        <input type="text" th:field="*{firstName}" required>
    </label>
        <br><br>

        <label>lastName</label><label>
        <input type="text" th:field="*{firstName}" required>
    </label>
        <br><br>

        <label>phoneNumber</label><label>
        <input type="text" th:field="*{firstName}" required>
    </label>
        <br><br>

        <label>address</label><label>
        <input type="text" th:field="*{firstName}" required>
    </label>
        <br><br>

        <label>email</label><label>
        <input type="text" th:field="*{firstName}" required>
    </label>
        <br><br>

        <label>password</label><label><input type="text" th:field="*{firstName}" required>
    </label>
        <br><br>

        <button>Create</button>
    </form>
</body>

</html>
</Doctype>